.card[b-wd0p3tp1eu] {
    height: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-right: 20px;
}

.card img[b-wd0p3tp1eu] {
    height: 100%;
    object-fit: cover;
}

.card-body[b-wd0p3tp1eu] {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 10px;
}

.card-text[b-wd0p3tp1eu] {
    flex-grow: 1;
}

.btn-group[b-wd0p3tp1eu] {
    margin-top: auto; /* Empuja el grupo de botones hacia la parte inferior del contenedor */
}

.medium[b-wd0p3tp1eu] {
    margin-top: auto; /* Empuja el precio hacia la parte inferior del contenedor */
}

.alineado[b-wd0p3tp1eu]{
    text-align: justify;
    color: #ddd;
}
