@page "/Products"

<PageTitle>Index</PageTitle>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Productos</title>
    </head>

    <body>
        <header>
            <div id="navbarHeader" class="collapse bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">Sobre</h4>
                            <p class="alineado">Somos una empresa dedicada a brindarle a nuetros clientes las mejores experiencias de relajacion con los mejores productos del mercado, para convertirnos en una opcion confiable y recurrente para nuestros consumidores, tambien ofrecemos nuestros productos para el consumo individual, funcionando como suplidores y brindando servicios, como el cliente decida.</p>
                        </div>

                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Contactos de Github</h4>
                            <ul class="list-unstyled">
                                <li><a href="https://github.com/Tejada01DO" class="text-white">Robert Tejada</a></li>
                                <li><a href="https://github.com/Vladimir-gs" class="text-white">Pedro Vladimir Guzman</a></li>
                                <li><a href="https://github.com/JeanRD7" class="text-white">Jean Luis de la Cruz</a></li>
                                <li><a href="https://github.com/Sebast1anHunter" class="text-white">Juan Sebastian Suarez</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between"><a class="navbar-brand d-flex align-items-center"</a>
                    <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-navicon"></i></button>
                </div>
            </div>
        </header>

        <main role="main">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1>Productos</h1>
                    <p class="lead text-muted"><br>Descubre la esencia de la serenidad en nuestra tienda de productos de spa, donde cada producto está diseñado para renovar tu bienestar y llevar la experiencia de relajación a cada rincón de tu vida, porque creemos que mereces el lujo de cuidarte a ti mismo con productos que inspiran armonía y equilibrio.<br></p>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <!-- Agrega los 9 productos utilizando el componente ProductCard -->
                        <ProductCart ImageUrl="https://assets.unileversolutions.com/v1/44022034.png"
                                     Description="Esta crema para piel grasa es humectante y de uso diario. Ayuda a combatir la decoloración, reduciendo visiblemente la apariencia de manchas oscuras en 4 semanas, para que tu piel luzca radiante y con un tono más uniforme."
                                     Price="10" Index="0" />

                        <ProductCart ImageUrl="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1691762276-1442473.jpg?crop=1xw:1.00xh;center,top&resize=980:*"
                                     Description="Hidrata la piel de forma rápida gracias a la combinación de ingredientes humectantes y aceite de almendras, que se activan cuando entran en contacto con el agua para absorberse al instante."
                                     Price="5" Index="1" />

                        <ProductCart ImageUrl="https://www.cerave.es/-/media/Project/Loreal/BrandSites/CeraVe/Master/Spain/Product/Moisturizers/Moisturizing-cream-16oz.png"
                                     Description="La Crema Hidratante de CeraVe, desarrollada por dermatólogos, ofrece una respuesta idónea para aquellas pieles sensibles y secas que buscan una hidratación profunda y duradera. Referente en las pieles más delicadas."
                                     Price="10" Index="2" />

                        <ProductCart ImageUrl="https://www.aromesdemorella.com/1077-big_default/aceite-esencial-romero-aromaterapia-12-ml.jpg"
                                     Description="El aceite esencial de Romero  es un aceite muy perfumado  en AROMATERAPÌA , es la CONCENTRACIÓN ,  crea ambientes frescos y aumenta la CONCENTRACIÓN y la MEMORIA .y su uso tópico como antiséptico."
                                     Price="5" Index="3" />

                        <ProductCart ImageUrl="https://static.youngliving.com/productimages/large/45222.jpg"
                                     Description="Celebra la época más mágica del año con el atrayente aroma de la naranja, la canela y la pícea negra. Usa la mezcla de aceites esenciales o disfruta de su fragancia en el jabón de manos."
                                     Price="15" Index="4" />

                        <ProductCart ImageUrl="https://climed.com.do/wp-content/uploads/2021/09/Eucerin-Protector-Solar-en-Gel-Oil-control-SPF-50-X-50mL.jpg"
                                     Description="El protector solar también es compatible con el mecanismo de reparación del ADN de la piel e incluye la tecnología Oil Control que regula el sebo."
                                     Price="8" Index="5" />

                        <ProductCart ImageUrl="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1662113053-n3-hair-perfector-reparador-y-fortalecedor-capilar.jpg"
                                     Description="Se trata de una loción intensificadora para marcar aún tus rizos y conseguir acabar con el encrespamiento. Se aplica sobre el cabello mojado antes de empezar a trabajar en la definición."
                                     Price="5" Index="6" />

                        <ProductCart ImageUrl="https://www.sofiablack.com/blog/wp-content/uploads/rulls-styling-curl-gel.webp"
                                     Description="Si aún no conoces Rulls, solamente decirte que se incorporó al catálogo de la tienda este mismo año y ha sido todo un bombazo. Es Made in Spain y con ingredientes naturales ecológicos certificados. ¡Todo un descubrimiento!."
                                     Price="15" Index="7" />

                        <ProductCart ImageUrl="https://www.sofiablack.com/blog/wp-content/uploads/aunt-jackies-curl-la-la.webp"
                                     Description="Una crema de peinado que lleva con nosotros desde los inicios de la tienda en 2012, y no deja de maravillar melenas rizadas de tipo 3 y 4. Rizos flexibles, suaves y superhidratados"
                                     Price="15" Index="8" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <!-- Carrito de compras -->
                    <div class="card mt-4">
                        <div class="card-header">
                            Carrito de compras
                        </div>
                  
                        <div class="card-footer">
                            <button class="btn btn-primary">Confirmar Compra</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>        
    </body>

</html>